:root {
        /* FONT */
        --font-dm-sans:"DM Sans", sans-serif;
        /* COLORS */
    --bg-icon:#131313;
    --bg-arrow-color:rgba(0,0,0,7)
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}